/*
Copyright 2018 Anthony F. Stuart - All rights reserved.

This program and the accompanying materials are made available
under the terms of the GNU General Public License. For other license
options please contact the copyright owner.

This program is made available on an "as is" basis, without
warranties or conditions of any kind, either express or implied.
*/
@CHARSET "UTF-8"; html {
    font-family: sans-serif;
}

body {
    /* harbor mist */
    color: #B4B7BA;
    stroke: #B4B7BA;
    fill: #B4B7BA;
    /* sailor blue */
    background-color: #2E4A62;
    font-size: .75vw;
    cursor: default;
    user-select: none;
    margin: 0px;
    padding: 0px;
}

.channel-0 {
    color: hsl(0, 100%, 75%);
    stroke: hsl(0, 100%, 75%);
    fill: hsl(0, 100%, 75%);
}

.key-led.led-low-0 {
    background-color: hsl(0, 100%, 20%);
}

.key-led.led-high-0 {
    background-color: hsl(0, 100%, 75%);
}

.channel-1 {
    color: hsl(90, 100%, 75%);
    stroke: hsl(90, 100%, 75%);
    fill: hsl(90, 100%, 75%);
}

.key-led.led-low-1 {
    background-color: hsl(90, 100%, 20%);
}

.key-led.led-high-1 {
    background-color: hsl(90, 100%, 75%);
}

.channel-2 {
    color: hsl(180, 100%, 75%);
    stroke: hsl(180, 100%, 75%);
    fill: hsl(180, 100%, 75%);
}

.key-led.led-low-2 {
    background-color: hsl(180, 100%, 20%);
}

.key-led.led-high-2 {
    background-color: hsl(180, 100%, 75%);
}

.channel-3 {
    color: hsl(270, 100%, 75%);
    stroke: hsl(270, 100%, 75%);
    fill: hsl(270, 100%, 75%);
}

.key-led.led-low-3 {
    background-color: hsl(270, 100%, 20%);
}

.key-led.led-high-3 {
    background-color: hsl(270, 100%, 75%);
}

.channel-4 {
    color: hsl(22, 100%, 75%);
    stroke: hsl(22, 100%, 75%);
    fill: hsl(22, 100%, 75%);
}

.key-led.led-low-4 {
    background-color: hsl(22, 100%, 20%);
}

.key-led.led-high-4 {
    background-color: hsl(22, 100%, 75%);
}

.channel-5 {
    color: hsl(112, 100%, 75%);
    stroke: hsl(112, 100%, 75%);
    fill: hsl(112, 100%, 75%);
}

.key-led.led-low-5 {
    background-color: hsl(112, 100%, 20%);
}

.key-led.led-high-5 {
    background-color: hsl(112, 100%, 75%);
}

.channel-6 {
    color: hsl(202, 100%, 75%);
    stroke: hsl(202, 100%, 75%);
    fill: hsl(202, 100%, 75%);
}

.key-led.led-low-6 {
    background-color: hsl(202, 100%, 20%);
}

.key-led.led-high-6 {
    background-color: hsl(202, 100%, 75%);
}

.channel-7 {
    color: hsl(292, 100%, 75%);
    stroke: hsl(292, 100%, 75%);
    fill: hsl(292, 100%, 75%);
}

.key-led.led-low-7 {
    background-color: hsl(292, 100%, 20%);
}

.key-led.led-high-7 {
    background-color: hsl(292, 100%, 75%);
}

.channel-8 {
    color: hsl(45, 100%, 75%);
    stroke: hsl(45, 100%, 75%);
    fill: hsl(45, 100%, 75%);
}

.key-led.led-low-8 {
    background-color: hsl(45, 100%, 20%);
}

.key-led.led-high-8 {
    background-color: hsl(45, 100%, 75%);
}

.channel-9 {
    color: hsl(135, 100%, 75%);
    stroke: hsl(135, 100%, 75%);
    fill: hsl(135, 100%, 75%);
}

.key-led.led-low-9 {
    background-color: hsl(135, 100%, 20%);
}

.key-led.led-high-9 {
    background-color: hsl(135, 100%, 75%);
}

.channel-10 {
    color: hsl(225, 100%, 75%);
    stroke: hsl(225, 100%, 75%);
    fill: hsl(225, 100%, 75%);
}

.key-led.led-low-10 {
    background-color: hsl(225, 100%, 20%);
}

.key-led.led-high-10 {
    background-color: hsl(225, 100%, 75%);
}

.channel-11 {
    color: hsl(315, 100%, 75%);
    stroke: hsl(315, 100%, 75%);
    fill: hsl(315, 100%, 75%);
}

.key-led.led-low-11 {
    background-color: hsl(315, 100%, 20%);
}

.key-led.led-high-11 {
    background-color: hsl(315, 100%, 75%);
}

.channel-12 {
    color: hsl(67, 100%, 75%);
    stroke: hsl(67, 100%, 75%);
    fill: hsl(67, 100%, 75%);
}

.key-led.led-low-12 {
    background-color: hsl(67, 100%, 20%);
}

.key-led.led-high-12 {
    background-color: hsl(67, 100%, 75%);
}

.channel-13 {
    color: hsl(157, 100%, 75%);
    stroke: hsl(157, 100%, 75%);
    fill: hsl(157, 100%, 75%);
}

.key-led.led-low-13 {
    background-color: hsl(157, 100%, 20%);
}

.key-led.led-high-13 {
    background-color: hsl(157, 100%, 75%);
}

.channel-14 {
    color: hsl(247, 100%, 75%);
    stroke: hsl(247, 100%, 75%);
    fill: hsl(247, 100%, 75%);
}

.key-led.led-low-14 {
    background-color: hsl(247, 100%, 20%);
}

.key-led.led-high-14 {
    background-color: hsl(247, 100%, 75%);
}

.channel-15 {
    color: hsl(337, 100%, 75%);
    stroke: hsl(337, 100%, 75%);
    fill: hsl(337, 100%, 75%);
}

.key-led.led-low-15 {
    background-color: hsl(337, 100%, 20%);
}

.key-led.led-high-15 {
    background-color: hsl(337, 100%, 75%);
}

fieldset {
    flex-shrink: 0;
    border: 1px solid #B4B7BA;
    color: #B4B7BA;
    font-size: .65vw;
}

input[type=number], input[type=text] {
    padding: 5px;
    margin: 5px;
    vertical-align: middle;
    background-color: black;
    color: #B4B7BA;
    border: 1px solid #B4B7BA;
}

select {
    padding: 5px;
    margin: 5px;
    vertical-align: middle;
    color: white;
    background-color: black;
    border: 1px solid #B4B7BA;
    flex-grow: 0;
}

svg {
    stroke-linecap: round;
}

.key-parent svg {
    fill: black;
    stroke: black;
    width: 1.6vw;
    margin: auto;
}

.key-parent svg line {
    stroke-width: 1;
    vector-effect: non-scaling-stroke;
}

.profile {
    width: 5vw;
    height: 1.7vh;
}

.current-measure {
    stroke: black;
    stroke-width: 10;
}

line {
    stroke-width: 2;
}

circle, ellipse {
    stroke-width: 1;
}

circle.open, ellipse.open {
    fill: black;
    stroke-width: 3;
}

text {
    font-size: .75vw;
}

path {
    fill: transparent;
    stroke-width: 2;
}

#musicianeer {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.selected-song {
    color: #2E4A62;
    background-color: #B4B7BA;
}

.selected-channel {
    color: #2E4A62;
    stroke: #2E4A62;
    background-color: #B4B7BA;
}

.selected-item {
    color: white;
    background-color: teal;
}

#song {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#song-table-wrapper {
    margin: 0px 5px 0px 0px;
    width: 50%;
    height: 21vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#channel-table-wrapper {
    margin: 0px 0px 0px 5px;
    width: 50%;
    height: 21vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#song table {
    width: 100%;
    table-layout: auto;
}

#song td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10vw;
    text-align: center;
    height: 2vh;
}

#song td:nth-child(1) {
    text-align: left;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

#staff-container {
    flex: 1.5;
    display: flex;
    background: black;
    border: 1px solid #B4B7BA;
}

#staff-cursor {
    position: relative;
    left: 50%;
    height: calc(100% - 16px);
    z-index: 2;
    border-left: 1px solid red;
}

#staff-scroller {
    flex: 1;
    /* display: flex; */
    overflow: auto;
}

#staff {
    height: 95%;
    margin-left: 50%;
    margin-right: 50%;
}

#transposition {
    width: 5vh
}

#midi-input, #midi-prompter {
    width: 10vh;
}

.keyboard {
    display: flex;
    margin-top: 6vh;
    flex: .7;
}

.note-label {
    color: #2E4A62;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.note-center {
    display: flex;
    flex-direction: column;
}

.note-legend {
    margin: auto;
    font-size: .65vw;
}

.note-name {
    margin: auto;
}

.key-parent {
    position: relative;
    flex: 1;
    display: flex;
}

.black-key {
    background-color: black;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: calc(83%);
    width: calc(33%);
    height: calc(66%);
    border: 1px solid black;
}

.white-key {
    background-color: white;
    border: 1px solid #2E4A62;
    flex: 1;
}

.key-led {
    position: absolute;
    width: .8vw;
    height: .8vw;
    border: 1px solid black;
    border-radius: .4vw;
    background-color: black;
}

.black-key-led {
    left: 0px;
    top: -5vh;
}

.black-key .note-legend {
    color: white;
}

.white-key-led {
    left: 1.25vw;
    top: -3vh;
}

.white-key:hover, .black-key:hover {
    background-color: #f0f0f0;
}

.keyboard div:hover .key-pressed, .key-pressed {
    background-color: #B4B7BA;
}

.sliders {
    margin: 10px 0px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.slider {
    text-align: center;
}

.buttons {
    display: flex;
}

.name-value {
    text-align: center;
}

.dialog-modal {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    flex-direction: column;
    z-index: 5;
}

.dialog-modal.visible {
    display: flex;
}

.dialog-box {
    color: #B4B7BA;
    border: 1px solid #B4B7BA;
    display: flex;
    flex-direction: column;
    background-color: #2E4A62;
    height: 25vh;
    width: 25vw;
    z-index: 6;
    margin: auto;
}

.dialog-header {
    background-color: #B4B7BA;
    border: 1px solid #B4B7BA;
    display: flex;
    flex-direction: column;
    color: #2E4A62;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.dialog-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dialog-footer {
    background-color: #B4B7BA;
    border: 1px solid #B4B7BA;
    display: flex;
    flex-direction: row;
    color: #2E4A62;
    padding: 5px;
    justify-content: flex-end;
}

.center {
    margin: auto;
    text-align: center;
}

#import-file-container {
    display: flex;
    flex-direction: column;
}

#import-response {
    border: 0;
    height: 10vh;
}
