@CHARSET "UTF-8";

body {
    color: silver;
    background-color: black;
}

line {
    stroke-width: 2;
}

circle {
    stroke-width: 1;
}

text {
    font-size: 11pt;
}

svg.device-0, .device-0 .closed {
    fill: red;
    stroke: red;
}

svg.device-1, .device-1 .closed {
    fill: lime;
    stroke: lime;
}

svg.device-2, .device-2 .closed {
    fill: cyan;
    stroke: cyan;
}

svg.device-3, .device-3 .closed {
    fill: yellow;
    stroke: yellow;
}

svg.device-4, .device-4 .closed {
    fill: orangered;
    stroke: orangered;
}

svg.device-5, .device-5 .closed {
    fill: darkseagreen;
    stroke: darkseagreen;
}

svg.device-6, .device-6 .closed {
    fill: blueviolet;
    stroke: blueviolet;
}

svg.device-7, .device-7 .closed {
    fill: darkgoldenrod;
    stroke: darkgoldenrod;
}

svg.device-8, .device-8 .closed {
    fill: violet;
    stroke: violet;
}

svg.device-9, .device-9 .closed {
    fill: burlywood;
    stroke: burlywood;
}

svg.device-10, .device-10 .closed { 
    fill: dodgerblue;
    stroke: dodgerblue;
}

svg.device-11, .device-11 .closed {
    fill: darkorange;
    stroke: darkorange;
}

svg.device-12, .device-12 .closed {
    fill: salmon;
    stroke: salmon;
}

svg.device-13, .device-13 .closed {
    fill: khaki;
    stroke: khaki;
}

svg.device-14, .device-14 .closed {
    fill: sienna;
    stroke: sienna;
}

svg.device-15, .device-15 .closed {
    fill: gold;
    stroke: gold;
}

.title {
    color: silver;
    border-bottom: 1px solid silver;
}

#prompter-container {
	flex: 1;
	display: flex;
}

#prompter-cursor {
    position: fixed;
    left: 50%;
    height: 100%;
    z-index: 100;
    border-left: 2px solid silver;
}

#staff-scroller {
    flex: 1;
    display: flex;
    overflow: auto;
}

#staff-list {
    transform-origin: 0 0;
}

#zoom-container {
	position: absolute;
	right: 0px;
	display: flex;
	flex-direction: column;
	width: 200px;
	border: 1px solid silver;
	margin: 5px;
	font-size: 1.5vh;
	padding: 5px;
	background-color: black;
}

#zoom-label {
	margin: auto;
}
