@CHARSET "UTF-8"; html {
    height: 100%;
    width: 100%;
    font-family: Sans-Serif;
}

body {
    height: 100%;
    margin: 0px;
    width: 100%;
    font-size: 3vh;
    color: magenta;
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
}

input {
    padding: 0;
    margin: 0;
}

#karaoke {
    color: white;
    margin: auto;
}

#karaoke-scroller {
    display: flex;
    overflow-y: auto;
}

.stanza {
    margin: 5px;
    border: 1px solid gray;
    background-color: #303030;
}

.line {
    padding: 0 5px;
    margin: 5px;
    border: 1px solid gray;
    background-color: black;
}

.tick {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    position: relative;
}

.channel:nth-child(1) {
    color: #ff0000;
}

.channel:nth-child(2) {
    color: #ffff00;
}

.channel:nth-child(3) {
    color: #ff00ff;
}

.channel:nth-child(4) {
    color: #ffffff;
}

.channel:nth-child(5) {
    color: #3fff3f;
}

.channel:nth-child(6) {
    color: #ffff7f;
}

.channel:nth-child(7) {
    color: #ff7fbf;
}

.channel:nth-child(8) {
    color: #bfbfbf;
}

.words, .channel {
    min-height: 1.5em;
}

.words {
}

.current-tick {
    color: white;
    background-color: blue;
}

.countdown {
    color: red;
    z-index: 100;
    background-color: blue;
    position: absolute;
    bottom: 1px;
    width: 100%;
    text-align: left;
    padding-bottom: 5px;
}

#song-selector-panel {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#song-selector-left {
	width: 50%;
	display: flex;
	flex-direction: column;
}

#song-selector-right {
	width: 50%;
}

#song-selector-title {
    font-size: 3rem;
    font-weight: bold;
    margin: auto;
    padding: 10px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#song-selector-control-panel {
	display: flex;
	flex-direction: row;
}

#song-selector-control-panel div {
	margin: 20px;
	border: 1px solid magenta;
	padding: 10px;
	flex-grow: 1;
}

#song-selector-control-panel div:hover {
  background-color: gray;
}

#song-selector-control-panel div:active {
	color: black;
	background-color: magenta;
}

#song-selector-right {
	margin: 20px;
	border: 1px solid magenta;
}

#song-selector-list {
    overflow-y: auto;
    height: 100%;
    cursor: default;
    text-align: center;
    line-height: 120%;
}

#song-selector-list:nth-child(1) {
}

#song-selector-control-panel {
    /* padding: 5px; */
}

#song-selector-controls input[type="button"] {
    border: 1px solid blue;
    padding: 10px;
}

.selected {
    color: black;
    background-color: magenta;
}

.hidden {
	display: none;
}
