@CHARSET "UTF-8";

body {
    color: magenta;
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
}

#prompter {
}

#prompter-list {
    overflow-y: auto;
}

.line {
    border-bottom: 1px solid gray;
}

.prompt {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    position: relative;
}

.device-0 {
    color: red;
}

.device-0 .selected-channel {
    color: black;
    background-color: red;
}

.device-1 {
    color: lime;
}

.device-1 .selected-channel {
    color: black;
    background-color: lime;
}

.device-2 {
    color: cyan;
}

.device-2 .selected-channel {
    color: black;
    background-color: cyan;
}

.device-3 {
    color: yellow;
}

.device-3 .selected-channel {
    color: black;
    background-color: yellow;
}

.device-4 {
    color: salmon;
}

.device-4 .selected-channel {
    color: black;
    background-color: salmon;
}

.device-5 {
    color: darkgoldenrod;
}

.device-5 .selected-channel {
    color: black;
    background-color: darkgoldenrod;
}

.device-6 {
    color: aqua;
}

.device-6 .selected-channel {
    color: black;
    background-color: aqua;
}

.device-7 {
    color: darkorange;
}

.device-7 .selected-channel {
    color: black;
    background-color: darkorange;
}

.device-8 {
	color: blueviolet;
}

.device-8 .selected-channel {
	color: black;
	background-color: blueviolet;
}

.device-9 {
    color: brown;
}

.device-9 .selected-channel {
    color: black;
    background-color: brown;
}

.device-10 {
    color: burlywood;
}

.device-10 .selected-channel {
    color: black;
    background-color: burlywood;
}

.device-11 {
    color: silver;
}

.device-11 .selected-channel {
    color: black;
    background-color: silver;
}

.device-12 {
    color: khaki;
}

.device-12 .selected-channel {
    color: black;
    background-color: khaki;
}

.device-13 {
    color: plum;
}

.device-13 .selected-channel {
    color: black;
    background-color: plum;
}

.device-14 {
    color: sienna;
}

.device-14 .selected-channel {
    color: black;
    background-color: sienna;
}

.device-15 {
    color: orangered;
}

.device-15 .selected-channel {
    color: black;
    background-color: orangered;
}

.words, .channel {
    min-height: 1.5em;
}

.words {
}

.interlude {
    padding: 4vh 0;
}

.current-prompt {
    color: white;
    position: relative;
    background-color: blue;
}

.countdown {
    color: red;
    position: absolute;
    bottom: 1px;
    width: 100%;
    text-align: center;
}

::-webkit-scrollbar {
    background-color: magenta;
}

input[type=range]::-webkit-slider-thumb {
    background: magenta;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

.controls div {
    border: 1px solid magenta;
}

.controls div:hover {
    background-color: gray;
}

.controls div:active {
    background-color: magenta;
}

#song-list-filter {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 50%;
    border: 1px solid magenta;
}

.list {
    border: 1px solid magenta;
}

.selected-song {
    color: black;
    background-color: magenta;
}

.channel-program {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
