#input {
    margin-bottom: 20px;
}

.tab {
    flex-direction: column;
}

#mapper-diagram {
    font-size: 2vh;
    flex: 1;
    position: relative;
}

.mapping {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    width: fit-content;
    background-color: gray;
    padding: 5px;
    position: absolute;
}

.mapper-index-label {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.selected-mapping {
    border: 1px solid red;
}
