/*
Copyright 2018 Anthony F. Stuart - All rights reserved.

This program and the accompanying materials are made available
under the terms of the GNU General Public License. For other license
options please contact the copyright owner.

This program is made available on an "as is" basis, without
warranties or conditions of any kind, either express or implied.
*/
@CHARSET "UTF-8"; body {
    color: #B4B7BA;
    /* harbor mist */
    background-color: #2E4A62;
    /* sailor blue */
    font-size: 1.7vh;
}

fieldset {
    border: 1px solid #B4B7BA;
    color: #B4B7BA;
    font-size: 1.5vh;
    flex-grow: 0;
}

tbody {
    background-color: black;
    border: 1px solid #B4B7BA;
    color: #B4B7BA;
    height 10)%: auto;
}

svg {
    fill: #B4B7BA;
    height: 95%;
    margin-left: 50%;
    margin-right: 50%;
    stroke: #B4B7BA;
}

line {
    stroke-width: 2;
}

circle {
    stroke-width: 1;
}

text {
    font-size: 11pt;
}

input[type=number], input[type=text] {
    color: #B4B7BA;
    border: 1px solid #B4B7BA;
}

select {
    border: 1px solid #B4B7BA;
    flex-grow: 0;
}

::-webkit-scrollbar {
    background-color: #B4B7BA;
}

#musicianeer {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.selected-song {
    color: #2E4A62;
    background-color: #B4B7BA;
}

.selected-channel {
    color: #2E4A62;
    background-color: #B4B7BA;
}

.selected-item {
    color: white;
    background-color: teal;
}

#song {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    margin-bottom: 10px;
}

#song-table-wrapper {
    margin: 0px 5px 0px 0px;
    /* border: 1px solid #B4B7BA; */
    width: 50%;
}

#song table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

#song thead tr {
    display: block;
    width: calc(100% - 16px);
}

#song th, #song td {
    width: 11%;
}

#song tbody {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    height: 250px;
}

#song .divider-row {
    font-weight: bold;
    border-bottom: 1px solid #B4B7BA;
}

#song td {
    text-align: center;
    padding: 2px;
}

#channel-table-wrapper {
    margin: 0px 0px 0px 5px;
    /* border: 1px solid #B4B7BA; */
    overflow: auto;
    width: 50%;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

#staff-container {
    flex: 1.5;
    display: flex;
    background: black;
    border: 1px solid #B4B7BA;
}

#staff-cursor {
    position: relative;
    left: 50%;
    height: calc(100% - 16px);
    z-index: 100;
    border-left: 1px solid red;
}

#staff-scroller {
    flex: 1;
    /* display: flex; */
    overflow: auto;
}

#staff {
    transform-origin: 0 0;
}

.keyboard {
    display: flex;
    margin-top: 60px;
    flex: .7;
}

.keyboard div:hover {
    background-color: #B4B7BA;
}

.white-key .black-key :not ( :hover ) {
    background-color : red ;
}

.keyboard div:active {
    background-color: #2E4A62;
}

.key-parent {
    position: relative;
    flex: 1;
    display: flex;
}

.black-key {
    background-color: black;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: calc(83%);
    width: calc(33%);
    height: calc(66%);
    border: 1px solid black;
}

.white-key {
    background-color: white;
    border: 1px solid blue;
    flex: 1;
}

.black-key-led, .white-key-led {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: black;
}

.black-key-led {
    left: 5px;
    top: -50px;
}

.white-key-led {
    left: 19px;
    top: -30px;
}

.led-green {
    background-color: #00ff00;
}

.led-yellow {
    background-color: #ffff00;
}

.led-red {
    background-color: #ff0000;
}

.led-blue {
    background-color: #00ffff;
}

.sliders {
    margin: 10px 0px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.slider {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
}
