/*
Copyright 2018 Anthony F. Stuart - All rights reserved.

This program and the accompanying materials are made available
under the terms of the GNU General Public License. For other license
options please contact the copyright owner.

This program is made available on an "as is" basis, without
warranties or conditions of any kind, either express or implied.
*/
@CHARSET "UTF-8"; body {
    color: #B4B7BA;
    /* harbor mist */
    background-color: #2E4A62;
    /* sailor blue */
    font-size: 2vh;
}

fieldset {
    font-size: 1.5vh;
    color: #B4B7BA;
    border: 1px solid #B4B7BA;
}

table {
	border: 1px solid #B4B7BA;
	flex: 1;
	width: 100%;
}
tbody {
    background-color: black;
    color: #B4B7BA;
    border: 1px solid #B4B7BA;
    height 10)%: auto;
}

#musicianeer {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.selected-song {
    color: black;
    background-color: magenta;
}

.selected-channel {
    color: #2E4A62;
    background-color: #B4B7BA;
}

.selected-item {
    color: white;
    background-color: teal;
}

#song {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#song-table-wrapper {
	/* flex: 1; */
	overflow: auto;
	width: 33%;
}

#song-table {
    word-break: break-all;
    width: 100%;
}

#channel-table-wrapper {
	flex: 1;
	overflow: auto;
}

.keyboard {
    display: flex;
    margin-top: 60px;
    margin: auto;
}

.keyboard div:hover {
    background-color: gray;
}

.white-key .black-key :not ( :hover ) {
    background-color : red ;
}

.keyboard div:active {
    background-color: blue;
}

.key-parent {
    position: relative;
}

.black-key {
    background-color: black;
    position: absolute;
    z-index: 1;
    left: 37px;
    top: 0px;
    width: 25px;
    height: 150px;
    border: 1px solid black;
}

.white-key {
    background-color: white;
    width: 50px;
    height: 200px;
    border: 1px solid blue;
}

.black-key-led, .white-key-led {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: black;
}

.black-key-led {
    left: 5px;
    top: -50px;
}

.white-key-led {
    left: 19px;
    top: -30px;
}

.led-green {
    background-color: #00ff00;
}

.led-yellow {
    background-color: #ffff00;
}

.led-red {
    background-color: #ff0000;
}

.led-blue {
    background-color: #00ffff;
}

.sliders {
    margin: 10px 0px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.slider {
    width: calc(( 100%)/3- 5px);
}

.buttons {
    display: flex;
}
