/*
Copyright 2018 Anthony F. Stuart - All rights reserved.

This program and the accompanying materials are made available
under the terms of the GNU General Public License. For other license
options please contact the copyright owner.

This program is made available on an "as is" basis, without
warranties or conditions of any kind, either express or implied.
*/
@CHARSET "UTF-8"; html {
    font-family: sans-serif;
}

body {
    color: #B4B7BA;
    /* harbor mist */
    background-color: #2E4A62;
    /* sailor blue */
    font-size: 1.7vh;
    cursor: default;
    user-select: none;
    margin: 0px;
    padding: 0px;
}

fieldset {
    flex-shrink: 0;
    border: 1px solid #B4B7BA;
    color: #B4B7BA;
    font-size: 1.5vh;
}

input[type=number], input[type=text] {
    padding: 5px;
    margin: 5px;
    vertical-align: middle;
    background-color: black;
    color: #B4B7BA;
    border: 1px solid #B4B7BA;
}

select {
    padding: 5px;
    margin: 5px;
    vertical-align: middle;
    color: white;
    background-color: black;
    border: 1px solid #B4B7BA;
    flex-grow: 0;
}

svg {
    fill: #B4B7BA;
    height: 95%;
    margin-left: 50%;
    margin-right: 50%;
    stroke: #B4B7BA;
}

line {
    stroke-width: 2;
}

circle {
    stroke-width: 1;
}

text {
    font-size: 11pt;
}

#musicianeer {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.selected-song {
    color: #2E4A62;
    background-color: #B4B7BA;
}

.selected-channel {
    color: #2E4A62;
    background-color: #B4B7BA;
}

.selected-item {
    color: white;
    background-color: teal;
}

#song {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#song-table-wrapper {
    margin: 0px 5px 0px 0px;
    width: 50%;
    height: 21vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#channel-table-wrapper {
    margin: 0px 0px 0px 5px;
    overflow: auto;
    width: 50%;
    height: 21vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#song table {
    width: 100%;
    table-layout: auto;
}

#song td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10vw;
    text-align: center;
}

#song td:nth-child(1) {
    text-align: left;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    font-size: 1.5vh;
}

#staff-container {
    flex: 1.5;
    display: flex;
    background: black;
    border: 1px solid #B4B7BA;
}

#staff-cursor {
    position: relative;
    left: 50%;
    height: calc(100% - 16px);
    z-index: 2;
    border-left: 1px solid red;
}

#staff-scroller {
    flex: 1;
    /* display: flex; */
    overflow: auto;
}

#staff {
    transform-origin: 0 0;
}

#transposition {
    width: 5vh
}

#midi-input, #midi-prompter {
    width: 10vh;
}

.keyboard {
    display: flex;
    margin-top: 6vh;
    flex: .7;
}

.note-label {
    color: #2E4A62;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.note-center {
    display: flex;
}

.note-legend {
    margin: auto;
}

.note-name {
    margin: auto;
}

.key-parent {
    position: relative;
    flex: 1;
    display: flex;
}

.black-key {
    background-color: black;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: calc(83%);
    width: calc(33%);
    height: calc(66%);
    border: 1px solid black;
}

.white-key {
    background-color: white;
    border: 1px solid #2E4A62;
    flex: 1;
}

.black-key-led, .white-key-led {
    position: absolute;
    width: .8vw;
    height: .8vw;
    border: 1px solid black;
    border-radius: .4vw;
    background-color: black;
}

.black-key-led {
    left: 0px;
    top: -5vh;
}

.white-key-led {
    left: 4.5vw;
    top: -3vh;
}

.white-key:hover, .black-key:hover {
    background-color: #f0f0f0;
}

.keyboard div:hover .key-pressed, .key-pressed {
    background-color: #B4B7BA;
}

.led-green {
    background-color: #00ff00;
}

.led-yellow {
    background-color: #ffff00;
}

.led-red {
    background-color: #ff0000;
}

.led-blue {
    background-color: #00ffff;
}

.sliders {
    margin: 10px 0px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.slider {
    text-align: center;
}

.buttons {
    display: flex;
}

.name-value {
    text-align: center;
}

.dialog-modal {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    flex-direction: column;
    z-index: 5;
}

.dialog-modal.visible {
    display: flex;
}

.dialog-box {
    color: #B4B7BA;
    border: 1px solid #B4B7BA;
    display: flex;
    flex-direction: column;
    background-color: #2E4A62;
    height: 25vh;
    width: 25vw;
    z-index: 6;
    margin: auto;
}

.dialog-header {
    background-color: #B4B7BA;
    border: 1px solid #B4B7BA;
    display: flex;
    flex-direction: column;
    color: #2E4A62;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.dialog-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dialog-footer {
    background-color: #B4B7BA;
    border: 1px solid #B4B7BA;
    display: flex;
    flex-direction: row;
    color: #2E4A62;
    padding: 5px;
    justify-content: flex-end;
}

.center {
	margin: auto;
	text-align: center;
}

#import-file-container {
    display: flex;
    flex-direction: column;
}

#import-response {
    border: 0;
    height: 10vh;
}
