@CHARSET "UTF-8";

html {
  height: 100%;
  width: 100%;
  font-family: Sans-Serif;
}

body {
  height: 100%;
  margin: 0px;
  width: 100%;
}

input {
    padding: 0;
    margin: 0;
}

line {
  stroke: black;
  stroke-width: 1;
}

circle {
  stroke: black;
  stroke-width: 1;
}

text {
	font-size: 18pt;
}

#header {
	border-bottom: 1px solid gray;
	font-size: 2vh;
}

#footer-detail {
	overflow-y: auto;
}

#header-detail table {
 	text-align: left;
	width: 100%;
}

#footer {
	border-top: 1px solid gray;
  font-size: 2vh;
	max-height: 20%;
	overflow-y: auto;
}

#footer-detail table {
  text-align: left;
  width: 100%;
}

#transport {
	background-color: lightgray;
	font-size: 2vh;
	width: 100%;
}

#music-pad {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#channel-notators {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	position: relative;
	width: 100%;
}

#notator-cursor {
    position: absolute;
    left: 50%;
    height: 100%;
    z-index: 100;
    border-left: 1px solid red;
}

#notator-scroller {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
	overflow-x: auto;
	width: 100%;
}

.notator {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;	
}

.notator svg {
	bottom: 0;
	height: 100%;
	left: 0;
	padding-left: calc(50%);
	padding-right: calc(50%);
	position: absolute;
	right: 0;
	top: 0;
}

.open {
	fill: white;
}

.close {
}
