@CHARSET "UTF-8";

html {
    height: 100%;
    width: 100%;
    font-family: Sans-Serif;
}

body {
    color: white;
    background-color: black;
    height: 100%;
    margin: 0px;
    width: 100%;
    font-size: 3vh;
    cursor: default;
    user-select: none;
}

input[type=number], input[type=text] {
    padding: 5px;
    margin: 5px;
    vertical-align: middle;
    color: white;
    background-color: black;
    border: 1px solid white;
}

select {
    padding: 5px;
    margin: 5px;
    vertical-align: middle;
    color: white;
    background-color: black;
    border: 1px solid white;
    flex-grow: 1;
}

form {
}

fieldset {
	   color: white;
	   border: 1px solid white;
	   flex-grow: 1;
	   margin: 5px;
}

.tab {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tab .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.tab .left {
    flex-grow: 1;
    width: 50%;
    /* margin: 10px; */
    /* border: 1px solid magenta; */
    display: flex;
    flex-direction: column;
}

.selected-tab {
    visibility: visible;
}

.name {
    font-weight: bold;
}

.name::after {
    content: ':';
}

.details {
    flex-grow: 1;
    margin-top: auto;
    overflow-y: auto;
    display: flex;
}

.details div {
    margin: auto;
}

.detail {
    display: table-row;
}

.detail .name, .detail .value {
    display: table-cell;
    padding: 5px;
}

.detail .name {
    text-align: right;
    width: 25%;
    vertical-align: top;
}

.detail .value {
    vertical-align: bottom;
}

.controls div {
    background-color: black;
}

.title {
    font-size: 6vh;
    font-weight: bold;
    padding: 10px;
    flex-shrink: 0;
    text-align: center;
    position: relative;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    flex-shrink: 0;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: white;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    border: 1px solid black;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: white;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

.controls div {
    padding: 10px;
    border: 1px solid white;
}

.controls div:hover {
    background-color: gray;
}

.controls div:active {
    color: black;
    background-color: white;
}

.hidden {
    display: none;
}

.detail-container {
    margin: auto;
}

.value-content {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
}

.value-content label {
    text-align: center;
}

.list {
    overflow-y: auto;
    height: 100%;
    text-align: center;
    line-height: 120%;
    border: 1px solid white;
    background-color: black;
    position: relative;
    word-break: break-all;
}

.row {
	display: flex;
	flex-direction: row;
	flex: 1;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.scrollable {
	overflow: auto;
}